@media screen and (max-width: 540px){
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .formulario {
        height: 100%;
    }

    .form-conteudo {
        height: 870px;
        
    }

    .campo {
        display: flex;
        flex-direction: column;
        width: 82vw;
    }

    .selecao {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    button {
        width: 90%;
    }

    .oferta-area{
        width: 100%;
    }

    .oferta-imagens {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    .imagens-destaque { 
        width: 100%;
        height: 300px;
    }

    .imagens-quatro {
        width: 100%;
        gap: 20px;
        
    }

    .imagens-quatro figure {
        width: 100%;
        height: 350px;
        margin: 0;
        padding: 0;
    }

    .figure-quatro img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imagens-destaque figcaption, .imagens-quatro figcaption {
        height: 40px;
        font-size: 1.5em;
    }

    .imagens-natureza {
        flex-direction: column;
    }


    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 400px;
    }

    .rodape {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .espaco-campo {
        padding-top: 5px;
    }

    input, select {
        border: 1px solid gray;
    }

    .form-conteudo {
        height: 70%;
        width: 100%;
    }

    .oferta-area {
        height: 100vh;
    }

    .imagens-destaque {
        width: 98%;
        height: 200px;
        margin-left: 8px;
    }

    .imagens-quatro figure {
        width: 100%;
        height: 200px;
    }

    .figure-quatro {
        width: 100%;
    }

    .oferta-imagens {
        flex-direction: column;
        width: 100%;
    }

    .imagens-quatro {
        flex-direction: row;
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }

    .imagens-natureza {
        flex-direction: column;
    }


}

@media screen and (max-width: 1100px){
    .formulario {
        padding: 45px 0;
    }
}

